.chatBot__header{
  .chatBot__title{
    font-family: "Assistant", sans-serif;
    font-weight: 700;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #183F40;
    margin: 40px 0;
    padding: 0 10px;
  }
}

@media screen and (max-width: 768px){
  .chatBot__header{
    .chatBot__title{
      font-size: 36px;
      line-height: 36px;
    }
  }
}
@media screen and (min-width: 768px){
  .chatBot__header{
    .chatBot__title{
      font-size: 48px;
      line-height: 64px;
    }
  }
}